<%- include( '../includes/head') %> 
</head>
<body>
  <%- include( '../includes/main-header') %> 
  <main>

    <% if (errorMessage) { %> 
      <div class="m-1 badge">
        <span 
          class="<%= isSuccessMessage ? 'badge-success' : 'badge-warning'%>"
        >
          <%= errorMessage %> 
        </span>
      </div>
    <% } %> 
    
    <div class="container">
      <form action="/auth/change-password" method="POST" class="py-4 mx-auto w-50">
        <h2 class="my-1 text-center">Change Password</h2>
        <div class="form-group text-center">
          <label for="password">Please enter your new password</label>
          <br>
          <br>
          <input 
            type="password" 
            name="password" 
            id="password" 
            class="input-field" 
            placeholder="">
        </div>
        <div class="my-2 form-group text-center">
          <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
        <input type="hidden" name="token" value="<%= resetToken %>">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      </form>
    </div>
  </main>
<%- include( '../includes/end') %> 


