<%- include( '../includes/head') %> 
</head>
<body>
  <%- include( '../includes/main-header') %> 
  <%- include( '../includes/categories-header') %> 

  <main id="index-page">
    <div class="container">
      <% if (products.length > 0 ) { %> 
        <div class="content-wrapper">
          <% for (product of products) { %> 
            <div class="item">
              <a href="/products/<%= product.id %>">

                <div class="item__top">
                  <div class="item__img">
                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                  </div>
                  <div class="item__title text-show-lines-1"><%= product.title %></div>
                  <div class="item__prc">GH₵ <%= product.price %></div>
                </div>
                
                <div class="item__overlay">
                  <% if (isAuthenticated) { %> 
                    <%- include('../includes/add-to-cart') %>
                  <% } %> 
                </div> 
              </a>
            </div>
          <% } %> 
        </div>
      <% } else { %> 
        <div>No product found</div>
      <% } %> 
    </div>

  </main>
  
<%- include( '../includes/end') %> 

